tr, th, td {
    border: 1px solid black;
}

td {
    position: relative;
    width: 100px;
    height: 100px;
}

td > span {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3px;
}